<div>
  <h2 id="page-heading" data-cy="SmartTradeHeading">
    <span jhiTranslate="gatewaybosApp.smartTrade.home.title">Smart Trades</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gatewaybosApp.smartTrade.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-smart-trade"
        [routerLink]="['/smart-trade/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewaybosApp.smartTrade.home.createLabel"> Create a new Smart Trade </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="smartTrades?.length === 0">
    <span jhiTranslate="gatewaybosApp.smartTrade.home.notFound">No smartTrades found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="smartTrades && smartTrades.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="gatewaybosApp.smartTrade.counterParty">Counter Party</span></th>
          <th scope="col"><span jhiTranslate="gatewaybosApp.smartTrade.currencyBuy">Currency Buy</span></th>
          <th scope="col"><span jhiTranslate="gatewaybosApp.smartTrade.currencySell">Currency Sell</span></th>
          <th scope="col"><span jhiTranslate="gatewaybosApp.smartTrade.rate">Rate</span></th>
          <th scope="col"><span jhiTranslate="gatewaybosApp.smartTrade.amount">Amount</span></th>
          <th scope="col"><span jhiTranslate="gatewaybosApp.smartTrade.contraAmount">Contra Amount</span></th>
          <th scope="col"><span jhiTranslate="gatewaybosApp.smartTrade.valueDate">Value Date</span></th>
          <th scope="col"><span jhiTranslate="gatewaybosApp.smartTrade.transactionId">Transaction Id</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let smartTrade of smartTrades; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/smart-trade', smartTrade.id, 'view']">{{ smartTrade.id }}</a>
          </td>
          <td>{{ smartTrade.counterParty }}</td>
          <td>{{ smartTrade.currencyBuy }}</td>
          <td>{{ smartTrade.currencySell }}</td>
          <td>{{ smartTrade.rate }}</td>
          <td>{{ smartTrade.amount }}</td>
          <td>{{ smartTrade.contraAmount }}</td>
          <td>{{ smartTrade.valueDate | formatMediumDate }}</td>
          <td>{{ smartTrade.transactionId }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/smart-trade', smartTrade.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/smart-trade', smartTrade.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(smartTrade)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
