<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="currencies">
      <h2 data-cy="currenciesDetailsHeading"><span jhiTranslate="gatewaybosApp.currencies.detail.title">Currencies</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ currencies.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewaybosApp.currencies.currencyName">Currency Name</span></dt>
        <dd>
          <span>{{ currencies.currencyName }}</span>
        </dd>
        <dt><span jhiTranslate="gatewaybosApp.currencies.currencyCode">Currency Code</span></dt>
        <dd>
          <span>{{ currencies.currencyCode }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/currencies', currencies.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
